canvas 
{
   /* height: 100%;
   width: height; */
   background-color:green; 
   position: fixed;
   touch-action:none;
}

body
{
    margin: 0px;
    touch-action:none;
    /* width: 100%;
    height: 100%; */
}

img
{
    z-index:100;
position: fixed;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    touch-action:none;
}

#image {
    height: 192;
    width: 192;
  background: 
  url('crop.png') 0px 0px;
  z-index:100;
  position: fixed;

  top:50%;
  left: 50%;
  margin-top: -96;
  margin-left: -96;
  touch-action:none;

  }